.avatar {
  border-radius: 50%;
  height: 130px;
  width: 180px;

}

.circular_image {
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.circular_image img {
  width: 100%;
}
